<div class="jumbotron" style="text-align:center;">
  <h1>IEEE Recruitment Form</h1>
    <%= form_tag(controller: "home", action: "validate", method: "post") do %>
        <%= text_field_tag 'IEEE', 'Enter your IEEE Number', class: 'form-control input-sm', id: 'inputSmall', style: "width:60%;margin-left:20%;" %> <br/> <br/>
        <%= submit_tag 'submit', class: "btn btn-primary btn-lg" %>
    <% end %>
</div>
