<div class="col-lg-8 col-lg-offset-2" style="margin-top:5%">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Success!</h3>
        </div>
        <div class="panel-body">
            You have been successfully registered for recruitment interaction! Good Luck :)
        </div>
    </div>
</div>
